{% extends "admin/layout-adm.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render('Painel de Controle', 'dashboard-admin container') %}

<h4>Olá Administrador(a), seja bem-vindo(a).</h4>

<div class="content">

    <div class="options">
        <h4 class = "title">⚙ Configurações</h4>
        <a href="/admin/import/users">Importação de Escolas</a>
        <a href="/admin/import/students">Importação de Alunos</a>
        <a class="disabled" href="/">Configurar Período</a>

    </div>

    <div class="options">
        <h4 class = "title">Relatórios</h4>
        <a href="/admin/reports/infant" target="_blank">Kit Merenda - Ed. Infantil</a>       
        <a href="/admin/reports/fund" target="_blank">Kit Merenda - Fundamental</a>       
        <a href="/admin/reports/ejaproeja" target="_blank">Kit Merenda - EJA/PROEJA</a>       
        <a href="/admin/reports/diapers-size" target="_blank">Consolidado Fralda</a>       
    </div>

    <div class="options">
        <h4 class = "title">Escolas</h4>
        <a class="disabled" href="/" target="_blank">Visualizar Escola</a>            
    </div>

</div>


{% endcall %}



{% endblock content %}