/* USER-DASHBOARD */

.user-dashboard h4 {
    font-size: 16px;
    font-weight: 400;
}

/* TABLE */

.user-dashboard .content table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-spacing: 0;
}

.user-dashboard .content table tr {
    text-align: center;
}

.user-dashboard .content table tr th:first-child,
.user-dashboard .content table tr td:first-child {
    text-align: left;
    width: 30px;
    padding-right: 40px;
}

.user-dashboard .content table tr td:first-child{
    width: 30px;
    text-align: center;

}

.user-dashboard .content table tr th:nth-child(2),
.user-dashboard .content table tr td:nth-child(2) {
    text-align: left;

}

.user-dashboard .content table tr td:last-child {
    display: flex;
    justify-content: space-evenly;
}

.user-dashboard .content table tr td:last-child a:last-child i {
    color: #77777F;
    width: 25px;
    height: 25px;
} 

.user-dashboard .content table tr th {
    text-transform: uppercase;
    font-size: 18px;
    color: #77777F;
    padding: 6px 0;
}

.user-dashboard .content table tr td {
    padding: 8px 0;
    border-bottom: 1px solid #e7e7e7
}

.user-dashboard .content table tr:last-child td {
    border-bottom: none;
}



.user-dashboard .content table tr td .button-action img {
    background: #FCFDFF;
    padding: 0;
    height: 25px;
    width: 25px;
}

.user-dashboard .content table tr td .button-action.no-check img {
    height: 20px;
    width: 20px;
}


.user-dashboard .content .options a,
.user-edit a {

    background-color: var(--primary-color);
    color: white;

    display: block;
    margin: 16px 0px;
    padding: 12px 16px;

    width: 100%;
    border-radius: 4px;

    /* para colocar o botao para baixo */
    align-self: end;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;

    cursor: pointer;

    transition: all 0.2s;
}

.user-dashboard .content .options a:hover,
.user-edit a:hover {
    background-color: var(--third-color);
}

.user-dashboard .content .options a.disabled {
    background-color: lightgrey;
    pointer-events: none;
}

/* STUDENTS OF CLASS */

.student-register .menu-bar {
    display: flex;
    justify-content: space-between;
    
}

.student-register h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}

.student-register .menu-bar a {
    margin: 0;
    color: var(--third-color);
}


.card.student-register.container {
    width: 100%;
    max-width: 1200px;
}

.student-register table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-spacing: 0;
}

.student-register table tr {
    text-align: center;
}

.student-register table tr th:first-child,
.student-register table tr td:first-child,
.student-register table tr th:nth-child(2),
.student-register table tr td:nth-child(2) {
    text-align: left;
}

.student-register table tr th {
    text-transform: uppercase;
    font-size: 18px;
    color: #77777F;
    padding: 6px 0;
}

.student-register table tr td {
    padding: 8px 0;
    border-bottom: 1px solid #e7e7e7;
}

.student-register table tr:last-child td {
    border-bottom: none;
}

/* INPUT RADIO REGIME */

.student-register table tr td:nth-child(3) .radio {
    margin-top: 10px;
    margin-bottom: 10px;
}

.student-register table tr td:nth-child(3) input[type="radio"]{
    display: none;
    
}

.student-register table tr td:nth-child(3) label {
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    padding: 8px 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.student-register table tr td:nth-child(3) label:before {
    content: "";
    height: 30px;
    width: 30px;
}

.student-register table tr td:nth-child(3) input[type="radio"]:checked + label[id="presential"] {
    background-color: rgb(157, 255, 157);
    border: 1px solid rgb(157, 255, 157);
    color: black;
}

.student-register table tr td:nth-child(3) input[type="radio"]:checked + label[id="hybrid"] {
    background-color: rgb(255, 255, 137);
    border: 1px solid rgb(255, 255, 137);
    color: black;
}

.student-register table tr td:nth-child(3) input[type="radio"]:checked + label[id="remote"]{
    background-color: rgb(255, 138, 138);
    border: 1px solid rgb(255, 138, 138);
    color: black;
}

/* INPUT RADIO LAUNCHKIT */

.student-register table tr td:nth-child(4) .radio {
    margin-top: 10px;
    margin-bottom: 10px;
}

.student-register table tr td:nth-child(4) input[type="radio"]{
    display: none;
    
}

.student-register table tr td:nth-child(4) label {
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    padding: 8px 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.student-register table tr td:nth-child(4) label:before {
    content: "";
    height: 30px;
    width: 30px;
}

.student-register table tr td:nth-child(4) input[type="radio"]:checked + label[id="launchkit_yes"] {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: white;
}

.student-register table tr td:nth-child(4) input[type="radio"]:checked + label[id="launchkit_no"] {
    background-color: #e0c188;
    border: 1px solid #e0c188;
    color: black;
}

/* INPUT SELECT DIAPER_SIZE */

.student-register table tr td:nth-child(5) select {
    padding: 5px;
    background-color: white;
    align-items: center;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    width: 120px;
}

/* BUTTON SUBMIT */

.student-register form .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-register form .button.class {
    width: 20%;
}






